# Copyright (c) 2020, NVIDIA CORPORATION. All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions
# are met:
#  * Redistributions of source code must retain the above copyright
#    notice, this list of conditions and the following disclaimer.
#  * Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
#  * Neither the name of NVIDIA CORPORATION nor the names of its
#    contributors may be used to endorse or promote products derived
#    from this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS ``AS IS'' AND ANY
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
# PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
# OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

arch =
{
    arithmetic =
    {
        instances = 1024;
        word_bits = 8;
        meshX = 16;
    };
    storage =
    (
        {
            name = "Registers";
            entries = 1;
            instances = 1024;
            meshX = 16; 
            word_bits = 8;
            cluster_size = 64;
            num_ports = 2;
            num_banks = 8;
        },
        {
            name = "AccumulationBuffer";
            entries = 128;
            instances = 128;
            meshX = 16;
            word_bits = 24;
            cluster_size = 8;
            num_ports = 2;
            num_banks = 2;
        },
        {
            name = "WeightBuffer";
            entries = 4096;
            instances = 128;
            meshX = 16;
            word_bits = 8;
            block_size = 8;
            num_ports = 1;
            num_banks = 8;
        },
        {
            name = "InputBuffer";
            entries = 8192;
            instances = 16;
            meshX = 16;
            word_bits = 8;
            block_size = 8;
            num_ports = 2;
            num_banks = 1;
        },
        {
            name = "GlobalBuffer";
            sizeKB = 64;
            instances = 1;
            word_bits = 8;
            block_size = 32;
            num_ports = 2;
            num_banks = 4;
        },
        {
            name = "DRAM";
            technology = "DRAM";
            instances = 1;
            word_bits = 8;
            block_size = 64;
            bandwidth = 20.0;
        }
    );
};

mapspace =
{
    constraints =
    (
        {
            target = "Registers";
            type = "datatype";
            keep =
            [
                "Weights"
            ];
            bypass =
            [
                "Inputs",
                "Outputs"
            ];
        },
        {
            target = "AccumulationBuffer";
            type = "datatype";
            keep =
            [
                "Outputs"
            ];
            bypass =
            [
                "Weights",
                "Inputs"
            ];
        },
        {
            target = "WeightBuffer";
            type = "datatype";
            keep =
            [
                "Weights"
            ];
            bypass =
            [
                "Inputs",
                "Outputs"
            ];
        },
        {
            target = "InputBuffer";
            type = "datatype";
            keep =
            [
                "Inputs"
            ];
            bypass =
            [
                "Weights",
                "Outputs"
            ];
        },
        {
            target = "GlobalBuffer";
            type = "datatype";
            keep =
            [
                "Inputs",
                "Outputs"
            ];
            bypass =
            [
                "Weights"
            ];
        },
        {
            target = "AccumulationBuffer";
            type = "spatial";
            factors = "P1 Q1 R1 S1 C8 K1 N1";
            permutation = "CKQRSPN";
        },
        {
            target = "InputBuffer";
            type = "spatial";
            factors = "P1 Q1 R1 S1 C1 K8 N1";
            permutation = "KCQRSPN";
        },
        {
            target = "GlobalBuffer";
            type = "spatial";
            factors = "R1 S1 P1 Q1 N1";
            permutation = "KCRSPQN";
        },
        {
            target = "Registers";
            type = "temporal";
            factors = "R1 S1 C1 K1 N1";
            permutation = "RSCKN";
        },
        {
            target = "InputBuffer";
            type = "temporal";
            factors = "P1 Q1 R1 S1 C1 K1 N1";
            permutation = "PQRSCKN";
        },
        {
            target = "AccumulationBuffer";
            type = "temporal";
            factors = "P1 Q1 R1 S1 C1 N1";
            permutation = "PQRSCN";
        },
        {
            target = "WeightBuffer";
            type = "temporal";
            factors = "P1 Q1 K1 N1";
            permutation = "PQKN";
        },
        {
            target = "GlobalBuffer";
            type = "temporal";
            factors = "R1 S1 C1 K1 N1";
            permutation = "RSCKN";
        },
        {
            target = "DRAM";
            type = "temporal";
            factors = "R1 S1 C1 K1 N1";
            permutation = "RSCKN";
        }
    );
};

mapper =
{
    optimization_metrics = [ "delay", "energy" ];
    live_status = True;
};

problem =
{
    R = 3;
    S = 3;
    P = 16;
    Q = 16;
    C = 128;
    K = 128;
    N = 1;
};
