**/.local**
**/.jupyter**
**/.bash**
**/.cache**
**/.ipython**
**/.config**
**/.vscode**
**/.ipynb_checkpoints
**__pycache__**
chains/*
outputs/*
outputs*/**
outputs/*
**/outputs/**
*.png
.local
.jupyter
**-checkpoint.ipynb
src/plots
src/run_timeloop_cache
src/fusion_cache
